.contentandnav {
    display: table;
}

.content {
    display: table-cell;
    vertical-align: top;
}

w
/* major color style */

body {
    color: #545454;
}

.blog {
    background: #333;
    /* background: #f4f2ef; */
}

/* #page { */
/*     background: #f4f2ef; */
/* } */


.header {
	background: #73605b;
        box-shadow: inset 0px -20px 20px -20px rgba(255,255,255,1.0);
        border-bottom: solid 1px #73605b;
}


header .site-title a {
    color: #fff;
}

.header .site-title a:hover,
.header .noimg:hover {
    color: #363237;
}

.header-inner,
.navigation-inner {
    text-shadow: 0px 1px 2px #73605b;

}
.header .site-description {
    color: #fff;
}

.header > .site-navigation {
    /* background: #73605b; */
    /* background: #403d41; */
    /* border: 1px solid green; */
    /* border-top: 1px solid #403d41; */
    /* border-radius: 4px 4px 4px 4px; */
    /* background: #403d41; */
    /* margin-bottom: 1em; */
}

.footer {
    	background: #363237;
}

.footer .section-inner {
    color: #93807b;
}

.footer a, .footer a:visited {
    color: #d09683;
}

.footer a:hover {
    color: #fff;
}


a,
a:hover,
a:selected,
a:visited,
a:focus,
a:active {
    color: #405cff;
}

.post-bubbles a:hover {
    background-color: #405cff;
}
body a,
body a:hover
{
    color: #405cff;
}

.post-title a,
.post-title a:hover,
.post-title a:selected,
.post-title a:focus,
.post-title a:active,
.post-title a:visited {
    color: #2d3642;
}

.blog-menu a,
.blog-menu a:visited {
    color: #fff;
}

.blog-menu li:hover a {
	background: none;
}

.blog-menu li a:hover {
    /* background-color: #93807b; /\* #363237; *\/ */
    background-color: rgba(0,0,0,0.6);/* #80363237; */
    border-radius: 4px 4px 4px 4px;
}

/* rendering style */

.navbar-search {
    float: right;
    margin: 13px;
    /* border-bottom: 1px solid #363f4a; */
    /* background: red; */
}


.footer {
        box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.blog-menu > li a {
    padding: 8px 15px;
    margin: 5px 5px;
}

.header > .site-navigation {
text-transform: uppercase;
letter-spacing: 1px;
padding-left: 10px;
padding-right: 10px;
}

.header > .site-navigation:after {
    display: block;
    content: '';
    clear: both;
}

/* .custom-background { */
/*     background: #f5f5f5; */
/* } */




.nav-previous {
    padding: 0 40px;
}

.side_navigation {
    display: table-cell;
    width: 20%;
    padding-top: 20px;
    padding-right: 20px;
    /* background: yellow; */
    /* padding-bottom: 100%; */
    padding-bottom: 1em;
}

.side_navigation h3 {
    margin-top: 20px;
    text-align: center;
    /* background: green; */
}

.side_navigation .nav_author {
    margin-top: 20px;
    text-align: center;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    /* background: green; */
}

.side_navigation p {
    text-size: 80%;
    text-align: justify;
    /* background: blue; */
    margin: 0;
    margin-top: 0.5em;
}

.side_navigation ul {
    margin: 0 auto;
    list-style: none;
    display: inline-block;
    text-align: left;
}

.content {
    /* background: red; */
    margin: 0px 20% 0px 20px;
    padding: 40px 0px;
    padding-right: 20px;
}

.blog-menu {
    float: none;
}

.post .content-inner {
    padding: 32px 40px;
    width: 90%;
}

.section-inner {
    width: auto;
}

.header-inner {
    padding: 0.5em 0 0.2em 20px;
    /* padding-left: 20px; */
    min-height: 0;
}


.header .site-logo {
    display: block;
    position: absolute;
    left: 20px;
    width: 100px;
    height: 100px;
    background: #fff url(../lingonberry/css/images/1x/home.png) no-repeat center;
    background-size: 32px auto;
    border-radius: 9999px;
    border: 5px solid #fff;
    z-index: 3;
}

.header .site-logo.noimg {
	background-color: #ccc;
}

.header .site-logo.noimg:hover {
    background-color: #363237;
}

.header {
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    z-index: 2;
}

.header .site-title {
    margin: 50px 0px 50px 130px;
    /* margin: 0; */
    /* text-align: center; */
    /* positio: static; */
    font-family: Inconsolata;
    font-size: 42px;
    position: relative;
    left: -0.5em;
    top: -0.1em;
    line-height: 0;
}

.header .site-description {
    float: left;
    font-size: 15px;
    margin: -30px 0px 0px 130px;
}

.footer {
    line-height: 1.4;
}

.footer .section-inner {
    width: 90%;
    text-align: center;
    position: relative;
    font-size: 13px;
    margin: 1.2em auto;
}

.footer a {
    text-decoration: underline;
    text-decoration-style: dotted;
    /* text-decoration: none; */
    /* border-bottom: 1px dotted; */
}

.footer a:hover {
    /* text-decoration: none; */
    /* border-bottom: 1px solid #FFF; */
}

.header {
    background-image: url(../img/back.png);
}

.center {
    /* width: 100%; */
    /* margin: 0 auto; */
    text-align: center;
}


.article .post .content-inner {
    float: none;
    width: 90%;
    padding-top: 3em;
    margin: auto;
    margin-top: 40px;
}

.article .post .content-inner:before,
.article .post .content-inner:after {
    display: none;
}

.article h1 {
    text-align: center;
}

.article .entry-content {
    margin-top: 4em;
    padding-bottom: 1em;
}

.article .post-title {
    font-size: 180%;
}

.post-meta {
    padding-top: 0.5em;
}

.post-summary {
	font-size: 1.5em;
}

#respond {
    padding-top: 30px;
}

#contents > .post-meta {
    margin-left: 60px;
    padding-top: 0.1em;
    letter-spacing: inherit;
    text-transform: none;
}

#contents > .post-meta > h3 > span {
    color: #bbb;
}

.social-buttons {
    letter-spacing: 0.2em;
}

.padding-top {
    /* background:red; */
    padding-top: 5px;
}

.post-meta + .post {
    margin-top: 8px;
}

#contents > .archive {
    margin-left: 43px;
}

.side_navigation .social {
    color: #888;
    padding-top: 0.2em;
    font-size: 150%;
    text-decoration: none;
    border-bottom: none;
}

.sep {
    margin: 0 5px;
}

.side_navigation .fa-twitter:hover {
    color: #000;
}

.side_navigation .fa-github:hover {
    color: #000;
}

.side_navigation .fa-google-plus:hover {
    color: #000;
}

.side_navigation .fa-linkedin:hover {
    color: #000;
}


.page {
    padding: 32px 40px;
}

.page .entry-title {
    display: none;
}

.page h2 {
    margin-bottom: 0.75em;
}

#contents > .post-meta > h3 > span {
    color: #bbb;
}


#contents > .archive {
    margin-left: 43px;
}

/* Search plugin */

#tipue_search_results_count:before {
    content: "Search returned "
}

#tipue_search_results_count,
#tipue_search_warning {
    color: #bbb;
}

#tipue_search_warning {
    font-size: 120%;
}

#tipue_search_content {
    max-width: none;
    margin-left: 60px;
    padding-right: 1em;
    padding-bottom: 60px;
}

#tipue_search_content .h01
{
    color: #333;
    background : rgba(147, 128, 123, 0.3);
    border-bottom: 1px dotted rgba(147, 128, 123, 1);
    /* font-weight: bold; */
}


/* .tipue_search_content_url a */
/* { */
/*      color: #405cff; */
/* } */

.tipue_search_content_title,
.tipue_search_content_url
{
    line-height: normal;
}

.tipue_search_content_title a:hover
{
    color: #555;
}

#tipue_search_input
{
    font: inherit;
    padding: 0 0.5em;
    width: auto;
    border: none;
    border-radius: 1em;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%);
    outline: 0;
    padding-left: 1.4em;
    background: #fff url('../tipuesearch/img/search.png') no-repeat 6px 6px;
}

#tipue_search_input[type="text"] {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    transition: 0.2s all;
}

#tipue_search_input[type="text"]:focus {
    color: #545454;
    background-color: rgba(255,255,255,1);
    transition: 0.2s all;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, ins, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-size: 100%;
}

code, kbd {
    font-size: 0.95em;
}

body {
    line-height: 1.5;
    font-size: 11pt;
}

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, dl, dt, dd, tr, th, td, pre {
	line-height:1.3;
}

h1, h2, h3 {
    hyphens: none;
}

h1 {
    font-size: 2em;
    line-height: 1;
}
h2 {
    font-size: 1.75em;
    line-height: 1;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
}
h4 {
    font-size: 1.25em;
    line-height: 1;
}
h5 {
    font-size: 1.1em;
    line-height: 1;
}



.hentry {
    margin: 50px 0 1.5em;
}

.hentry:before,
.hentry:after {
    content: "";
    display: table;
}

.hentry:after {
    clear: both;
}

.entry-content {
	margin: 1.5em 0 0;
}


[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;

}


.post {
    position: relative !important;
}

.post-title a,
.post-title a:hover,
.post-title a:selected,
.post-title a:focus,
.post-title a:active,
.post-title a:visited {
    color: #999;
}



/* Margin and formatting for article. 
 * Collasping margin make those settings reasonable
 */

.content-inner h2 {
    margin-top: 1em;
}

/* Do not mess with post summaries */
.content-inner h2:first-child {
    margin-top: 0em;
}

.content-inner h3 {
    margin-top: 0.66em;
}

.content-inner ul {
    list-style: disc;
    padding-left: 40px;
    margin:0;
}

.content-inner p {
    margin-bottom: 1em;
}

.content-inner li {
    margin: 0.3em 0;
}

.content-inner li:last-of-type {
    margin-bottom: 1em;    
}

.content-inner dt {
    margin-top: 0.3em;
    margin-left: 0.8em;
}

.content-inner pre {
    margin-left: 1em;
}

.content-inner pre {
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
}

#toggle-menu {
    display: none;
}


.article > .post > .content-inner {
    box-shadow: 0px 5px 5px 3px rgba(100,100,100,0.2);    
    border-radius: 0;
}

.header > .site-navigation {
    font-size: 12pt;
    margin-top: 0.8em;
}

p, blockquote, img, small, strike, sub, sup, li,
ol, ul, label, legend, caption, tr, th, td, dd, dt, dl {
    text-align: justify;
}

.content-inner dt {
    margin-left: 1em;
}

pre {
    border-radius: 4px 4px 4px 4px;
    padding: 0.3em 0.3em 0.3em 0.3em;
    font-size: 90%;
    margin: 1em;
    position: relative;
    padding-left: 0.5em;
    top: -0.3em;
}


.article {
    font-size: 15px;
}

.article .post h1,
.article .post h2,
.article .post h3 {
    line-height: 1.5em;
}

code {
    background: none;
}


/* Responsive: small screen (phone), all packed */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
   .article .entry-content {
        margin-top: 3em;
    }

    .article .post .content-inner {
        padding-top: 1em;
        line-height: 1.2;
        text-align: justify;
        /* font-size: 28pt; */
    }

    .article .post h1, 
    .article .post h2,
    .article .post h3 {
        line-height: 1em;
        padding: 0.3em 0;
    }

    pre {
        font-size: 0.8em;
    }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    a.format-bubble {
        display: none;
    }

    .side_navigation {
        width: 21%;
    }
    
    .content:before {
        display:none;
    }

    .content:after {
        display:none;
    }

    .post .content-inner {
        width: auto;
        margin-left: 12px;
    }

    .article .post .content-inner {
        margin: auto;
        width: 100%;
        float: none;
    }

    .article .post h1 {
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .hentry {
        margin: 10px 0 2em;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .article .post h1 {
        padding-top: 1.5em;
        padding-bottom: 1em;
    }
}

/* Responsive: small screen (phone), all packed */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
    html {
        -webkit-text-size-adjust: 100%;
    }

    body {
        font-size: 11pt;
        background-image: url(../img/noise.png);
    }

    code, kbd {
        font-size: 0.9em;
    }

    pre {
        font-size: 0.8em;
    }

    a.format-bubble {
        display: none;
    }

    
    #page {
        box-shadow: 20px 0px 50px rgba(0,0,0,0.6);
    }

    .header .site-logo {
        display: none;
    }

    .header .site-title {
        margin-left: 10px;
        margin-bottom: 0.5em;
        position: relative;
    }
    .header .site-description {
        float: none;
        margin: 0;
        margin-left: 10px;
    }

    .header > .site-navigation {
        font-size: 8pt;
        padding-left: 5px;
        padding-right: 0;
    }
    
    #tipue_search_input {
        display: none;
    }

    #toggle-menu {
        display: block;
	position: absolute;
        top: 3px;
        right: 0px;
    }

    #toggle-menu:hover
    {
        color: #fff;
    }
    


    #menu {
        font-size: 11pt;
        box-sizing: border-box;
        display: none;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        border 1px solid blue;
        padding-top: 10px;
        padding-left: 0.3em;
        text-shadow: black 0px -1px 0px,
                     black 0px 1px 3px;
    }

    .side_navigation {
        padding-right: 0;
    }

    .side_navigation p {
        color: #666;
        padding: 0 1em;
        margin-top: 0;
    }

    #menu h3 {
        color: #bbb;
        text-shadow: black 0px -1px 0px,
                     black 0px 2px 3px;
        border-top: 2px solid rgba(0,0,0,0.5);
        padding-bottom: 0.3em;
        margin-top: 0.6em;
    }
    
    #menu h3:before {
        content:'';
        display: block;
        border-top: 2px solid rgba(100,100,100,0.5);
        padding-bottom: 0.6em;
    }

    #menu h3:first-child {
        border: none;
    }
    #menu h3:first-child:before {
        display: none;
        padding-top: 0px;
    }

    #menu a, #menu li {
        font-size: 1.1em;
    }
    
    .social-buttons {
        font-size: 140%;
        letter-spacing: 0.1em;
    }



    .content {
        padding: 12px 9px;
    }
    
    .content:before {
        display:none;
    }

    .content:after {
        display:none;
    }

    .post .content-inner {
        width: 100%;
        float: none;
        border-radius: 20px;
        padding: 14px;
    }

    .hentry {
        margin: 5px 0 1.5em;
    }

    .post-summary {
	font-size: 1.3em;
    }


    
    .article .entry-content {
        margin-top: 3em;
    }

    .article .post .content-inner {
        margin: auto;
        margin-top: 0;
        width: 100%;
        float: none;
        padding-top: 1em;
        line-height: 1.2;
        text-align: justify;
        /* font-size: 28pt; */
    }

    .article .post h1,
    .article .post h2,
    .article .post h3 {
        line-height: 1em;
        padding: 0.3em 0;
    }


    
    .footer {
        font-size: 9px;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px)
and (orientation : portrait) {
    .header-inner.section-inner { 
        padding: 0.9em 0 0.2em 10px;
        /* padding-left: 10px; */
        /* padding-top: 0.9em; */
    }

    .header .site-title {
        font-size: 24px;
        margin-top: 0.7em;/*20px;*/
    }
    .header .site-description {
        font-size: 12px;
    }

    .blog-menu > li a {
        padding: 0.2em;
        margin: 0.5em 0.5em;
    }

    .content-inner dt {
        margin-left: 0em;
    }

    .content-inner dd {
        margin-left: 1em;
    }

    .content-inner ul {
        margin-left: 1em;
        padding-left: 0;
    }

    #menu {
        width: 15em;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px)
and (orientation : landscape) {
    .header-inner.section-inner {
        padding: 0.9em 0 0.2em 10px;
        /* padding-left: 10px; */
        /* padding-top: 0.9em; */
    }

    .header .site-title {
        font-size: 30px;
        margin-top: 20px;
    }
    .header .site-description {
        font-size: 14px;
    }

    .blog-menu > li a {
        padding: 0.2em;
        margin: 0.5em 1em;
    }

    .content-inner dt {
        margin-left: 1em;
    }

    .content-inner dd {
        margin-left: 2.5em;
    }

    .content-inner ul {
        margin-left: 1em;
        padding-left: 1em;
    }

    #menu {
        width: 17em;
    }
}
